<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/user/home">Chronic Pain Diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown navbar-brand">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i>Sign Out
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Change Password</a>
        </div>
        </li>
      </ul>
    </div>
    </nav>
  </div>
<div>
  <div class="container">
    <form action="/user/search" method="post">
      <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormRecird">Record</label>
          <input name="searchAnything" type="text" class="form-control" id="inlineFormRecird" placeholder="
          <% if(userInput) {%>
            <%= userInput %>
          <% } else {%>
            Filter
          <% } %>">
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Search</button>
          <a href="/user/home" class="btn btn-primary">Reset</a>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <h3>Your Entries</h3>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Pain Location</th>
        <th scope="col">Pain Description</th>
        <th scope="col">Triggered by</th>
        <th scope="col">Relieved by</th>
        <th scope="col">Worsen by</th>
        <th scope="col">Pain Level</th>
      </tr>
    </thead>
    <% if(entry.length > 0){ %>
    <tbody>
      <% for(let entries of entry ){ %>
      <tr>
        <td><%= entries.timeStamp.date %></td>
        <td><%= entries.timeStamp.time %></td>
        <td><%= entries.data.painLoc %></td>
        <td><%= entries.data.painDesc %></td>
        <td><%= entries.data.painTrig %></td>
        <td><%= entries.data.painRel %></td>
        <td><%= entries.data.painWors %></td>
        <td><%= entries.data.painLev %></td>
        <td><a href="/user/edit/<%= entries._id %>" class="btn btn-warning">Edit</a></td>
        <td>
          <form action="/user/delete/<%= entries._id %>" method="POST">
            <button class="btn btn-danger" type="submit" name="deleteRecordButton">Delete</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </td>
      </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="8">No Data</td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRecordModal">
  Add Record
</button>
  </div>

<!-- Modal -->
<div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRecordModalTitle">Add Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/user/add" method="post">
          <div class="form-group">
            <label class="control-label">Date</label>
            <input type="date" name="date" id="dateInput">
            <label class="control-label">Time</label>
            <input type="time" name="time" id="timeInput">
          </div>
          <div class="form-group">
            <label for="painLocationTextArea">Where is the pain?</label>
            <textarea class="form-control" id="painLocationTextArea" name="painLocation" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="painDescriptionTextArea">What is the pain like?</label>
            <textarea class="form-control" id="painDescriptionTextArea" name="painDescription" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="painTriggerTextArea">What triggered the pain?</label>
            <textarea class="form-control" id="painTriggerTextArea" name="painTrigger" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="painRelieveTextArea">What relieves the pain?</label>
            <textarea class="form-control" id="painRelieveTextArea" name="painRelieve" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="painWorseTextArea">What makes it worse?</label>
            <textarea class="form-control" id="painWorseTextArea" name="painWorse" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="painLevelSelect">Pain Level (0 - no pain, 10 - severe)</label>
            <select class="form-control" id="painLevelSelect" name="painLevel">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
