<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/user/home">Chronic Pain Diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown navbar-brand">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i>Sign Out
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Change Password</a>
        </div>
        </li>
      </ul>
    </div>
    </nav>
  </div>
    <div class="container">
    <h3>Your Entries from <%= startDate %> to <%= endDate %></h3>
    <div class="container">
    <form action="/user/search" method="post">
      <div class="form-row align-items-center">
        <label for="desc">Fuzzy Search</label>
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormRecird">Record</label>
          <input name="searchAnything" type="text" class="form-control" id="inlineFormRecird" placeholder="
          <% if(userInput) {%>
            <%= userInput %>
          <% } else {%>
            Filter
          <% } %>">
          <input type="hidden" name="startDate" value="<%= startDate %>">
          <input type="hidden" name="endDate" value="<%= endDate %>">
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Search/Cancel</button>
            <a href="/user/home" class="btn btn-primary">Back</a>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </div>
      </div>
    </form>
    <form action="/user/search-level" method="post">
      <div class="form-row align-items-center">
        <label for="desc">Pain Level Search</label>
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormRecird">Pain Level Search</label>
          <input name="painLevel0" type="number" min="0" max="10" class="form-control" placeholder="
          <% if(userInputFrom) {%>
            <%= userInputFrom %>
          <% } else {%>
            From
          <% } %>">
          <input name="painLevel1" type="number" min="0" max="10" class="form-control" placeholder="
          <% if(userInputTo) {%>
            <%= userInputTo %>
          <% } else {%>
            To
          <% } %>">
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Search</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="startDate" value="<%= startDate %>">
          <input type="hidden" name="endDate" value="<%= endDate %>">
        </div>
      </div>
    </form>
    <%- include('../includes/errors.ejs') %>
  </div>
    <table class="table table-search table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Pain Location</th>
        <th scope="col">Pain Description</th>
        <th scope="col">Triggered by</th>
        <th scope="col">Relieved by</th>
        <th scope="col">Worsen by</th>
        <th scope="col">Pain Level</th>
      </tr>
    </thead>
    <% if(entry.length > 0){ %>
    <tbody>
      <% for(let entries of entry ){ %>
      <tr>
        <td><%= entries.timeStamp.date %></td>
        <td><%= entries.timeStamp.time %></td>
        <td><%= entries.data.painLoc %></td>
        <td><%= entries.data.painDesc %></td>
        <td><%= entries.data.painTrig %></td>
        <td><%= entries.data.painRel %></td>
        <td><%= entries.data.painWors %></td>
        <td><%= entries.data.painLev %></td>
        <td><a href="/user/edit/<%= entries._id %>" class="btn btn-warning">Edit</a></td>
        <td>
          <form action="/user/delete/<%= entries._id %>" method="POST">
            <button class="btn btn-danger" type="submit" name="deleteRecordButton">Delete</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </td>
      </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="8">No Data</td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <div class="jumbotron">
    <div class="row w-100">
      <% if(statistics.totalNumberOfEntries > 0){ %>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="fas fa-chart-bar"></i></div>
                <div class="text-info text-center mt-3"><h5>Entries</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfEntries %></h1></div>
            </div>
        </div>
      <% } %>
        <% if(statistics.totalNumberOfPainLocation > 0){ %>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="fas fa-info"></i></div>
                <div class="text-info text-center mt-3"><h5>Locations</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfPainLocation %></h1></div>
            </div>
        </div>
        <% } %>
        <% if(statistics.totalNumberOfDescription > 0){ %>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="fas fa-tags"></i></div>
                <div class="text-info text-center mt-3"><h5>Descriptions</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfDescription %></h1></div>
            </div>
        </div>
        <% } %>
        <% if(statistics.totalNumberOfTriggered > 0){ %>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="fas fa-fire-alt"></i></div>
                <div class="text-info text-center mt-3"><h5>Triggers</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfTriggered %></h1></div>
            </div>
        </div>
        <% } %>
        <% if(statistics.totalNumberOfRelieved > 0){ %>
        <div class="col-md-6 mt-5">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="fas fa-pills"></i></div>
                <div class="text-info text-center mt-3"><h5>Reliefs</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfRelieved %></h1></div>
            </div>
        </div>
        <% } %>
        <% if(statistics.totalNumberOfWorsenBy > 0){ %>
        <div class="col-md-6 mt-5">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><i class="far fa-angry"></i></div>
                <div class="text-info text-center mt-3"><h5>Worsen by's</h5></div>
                <div class="text-info text-center mt-2"><h1><%= statistics.totalNumberOfWorsenBy %></h1></div>
            </div>
        </div>
        <% } %>
    </div>
  </div>
</body>

<%- include('../includes/footer.ejs') %>